<h2>Users</h2>



  <h3>Sign Up</h3>
  <form action="/signup" method="POST">
  <p>Username: <input type="text" name="username" placeholder="Username"></p>
  <p>Email: <input type="text" name="email" placeholder="Email"></p>
  <p>Password: <input type="text" name="password" placeholder="Password"></p>
  <Input class="btn btn-primary" type="submit">
  </form>