<p>Welcome, <%= current_user.username %></p>
<h2> Albums </h2>
<a href='/albums/new'>Add Album</a>


<% @album.each do |album| %>
    <p><%= album.album_name %><a href='albums/<%= album.id %>'> Details</a></p>
    
    
    <% end %>
