<h2>Add An Album</h2>
<form action="/albums" method="POST">
<h3>What type of media is your album?</h3>
<select name="media_type">
    <option value="vinyl" selected>Vinyl</option>
    <option value="CD" selected>CD</option>
    <option value="Cassette" selected>Cassette</option>
</select>
<label for="artist_name">Artist Name:</label>
<input type="text" name="artist_name">
<label for="album_name">Album Name:</label>
<input type="text" name="album_name">
<input type="submit" value="Submit">
</form>
