<h2>Add An Album</h2>
<form action="/albums" method="POST">
<label for="media_type">Media Type:</label>
<input type="text" name="media_type" placeholder="Vinyl, CD, or Cassette">
<label for="artist_name">Artist Name:</label>
<input type="text" name="artist_name">
<label for="album_name">Album Name:</label>
<input type="text" name="album_name">
<input type="submit" value="Submit">
</form>
